<% content_for :head do %>
  <%= stylesheet_link_tag 'https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css' %>
  <%= javascript_include_tag 'https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js' %>
<% end %>

<div class="flex justify-start space-x-4 md:space-x-32 items-center ml-5 my-2">
  <%= link_to project_path(params[:project_id]), class: 'hover:underline inline-flex items-center text-sm md:text-md leading-4 font-bold rounded-lg text-blue-600 hover:text-blue-400' do %>
    <span class="mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
      </svg>
    </span>
    Back to project
  <% end %>
  <h1 class="font-bold text-3xl m" >Gantt Chart</h1>
</div>

<div id="gantt_here" style='width:100%; height:800px;' data-controller="chart--gantt"></div>
