<div class="bg-gray-50 border-2 border-gray-200 rounded p-6 max-w-lg mx-auto mt-5 shadow">
  <header class="text-center">
    <h2 class="text-2xl font-bold uppercase mb-1">Create task</h2>
  </header>
  <%= render 'form', task: @task %>
</div>