<div class="flex">
  <%= link_to new_project_path, class: 'inline-flex items-center pl-1.5 pr-3 md:pl-2 md:pr-4 py-1.5 border border-transparent text-sm md:text-md leading-4 font-bold rounded-lg text-gray-900 bg-green-300 hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500' do %>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
    </span>
    Create new project
  <% end %>
</div>


<div class="mt-5">  
  <% if @projects.count > 0 %>
    <div class="border-b border-gray-300 pt-12">
      <h1 class="text-2xl md:text-3xl font-bold text-gray-800 pb-3">
        Projects
      </h1>
    </div>
    <div class="flex flex-col mt-3">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Start date
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    End date
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <%= render partial: 'project', collection: @projects %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p>No projects to display</p>
  <% end %>
</div>